body{
	background-image: url(../img/18d.jpg);
	background-size: cover;
	margin:0px;
}

header{
	background-color: #3399FF;
    color: #fff;
    text-align: center;
    margin: 0;
    /* width: 100%; */
    height: 60px;
}
.titulo-principal{
	margin: 0;
	padding-top: 20px;
	font-size: 30px;
}
.codigo, .cont-textarea{
	display: inline-block;
	margin-top: 20px;
	background-color: #fff;
}
.codigo{
	margin-left: 150px;
	width: 35%;
	padding-top: 40px;
}
.titulo-reto{
	margin: 0;
	font-size: 30px;
	padding-left: 25px;	
}
.parrafo_1{
	font-size: 20px;	
	padding-top: 15px;
	padding-left: 25px;
}
.titulo-codigo{
 color: #0000FF;
 padding-left:25px;
 padding-top: 15px 15px;
}
.cont-textarea{
	margin: 10px 15px;
	padding: 10px 10px;

}
#comment{
	border:none;
	border-bottom: 2px solid #3399FF;
} 
button{
	margin: 0px 5px;
	background: #3399FF;
	padding:10px 25px;
	color:#fff;
}	

#contenedor{
	color: pink;
	background: #fff;
	/*display: inline-block;*/
}

